* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #c8815f;
    --big-font: 4.5rem;
    --h2-font: 3.3rem;
    --h3-font: 2rem;
    --normal-font: 1rem;
    }

body {
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 14%;
    transition: all 0.5s ease;
}
.logo{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--text-color);
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 25px;
    font-size: var(--normal-font);
    transition: all .36s ease;
}
.navlist a:hover{
    color: var(--main-color);
}
.header.icons i{
    font-size: 32px;
    color: var(--text-color);
    margin-right: 20px;
    transition: all .36s ease;
}
.header.icons i:hover{
    color: var(--main-color);
}
#meni-icons{
    font-size: 34px;
    color: var(--text-color);
    z-index: 10001;
    margin-right: 20px;
    display: none;
}
section{
    padding:100px 14%;
}
.home{
    min-height: 100vh;
    width: 100%;
    background: url(../img/backgr.png);
    background-size: cover;
    background-position: center top;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.home-text h1{
    font-size: 100px;
    font-family: 'Courgette', cursive;
    font-weight: 670;
    line-height: 0.9;
    letter-spacing: .6rem;
    margin-bottom: 1.4rem;
    letter-spacing: .5rem;
}
.home-text span{
    font-size: 31px;
    letter-spacing: 0.15rem;
    font-weight: 550;
    line-height: 1.8;
}
.home-text p{
    font-size: var(--normal-font);
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: .2rem;
}
.btn{
    display: inline-block;
    padding: 13px 25px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    transition: all .35s ease;
}
.btn:hover{
    background: var(--text-color);
    transform: translateY(-3px);
}

header.sticky{
    background: var(--bg-color);
    padding: 14px 14%;
    box-shadow: 0 0 10px rgba(0 0 0 / 63%);
}
.center-text{
    text-align: center;
}
.center-text h2{
    font-size: var(--h3-font);
}
.featured-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1.3rem;
    align-items: center;
    margin-top: 4rem;
}
.row{
    position: relative;
    transition: all .35s ease;
}
.row img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.fea-text{
    position: absolute;
    top: 40px;
    left: 50px;
}
.fea-text h5{
    font-size: 19px;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}
.fea-text p{
    color: #555;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 400;
}
.row .arrow{
    position: absolute;
    bottom: 40px;
    left: 50px;
}
.row .arrow{
    height: 35px;
    width: 35px;
    background: var(--bg-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .35s ease;
}
.row:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
}

.row:hover .arrow {
    background: var(--main-color);
    color: var(--bg-color);
}
.cta{
    height: 60vh;
    width: 100%;
    background: url(../img/cta.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}
.cta-text h6{
    font-size:17px;
    font-weight: 500;
    letter-spacing: .6px;
    margin-bottom: 14px;
}
.cta-text h4{
    font-size: 3.3rem;
    line-height: 1.2;
    letter-spacing: .6rem;
    margin-bottom: 30px;
}
.new-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.2rem;
    align-items: center;
    margin-top: 4rem;
    text-align: center;
}
.box{
    position: relative;
    transition: all .40s ease;
}
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.box h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.box h6{
    font-size: 16px;
    font-weight: 700;
}
.sale{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    background: var(--main-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.box:hover{
    transform: scale(0.9) translateY(-5px);
    cursor: pointer;
}
.contact{
    background: var(--text-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
}
.main-contact h3{
    font-size: 23px;
    margin-bottom: 1.6rem;
    color: var(--bg-color);
}
.main-contact h5{
    font-size: 15px;
    color: #555;
    font-weight: 600;
}
.icons{
    display: flex;
    margin-top: 2rem;
}
.icons i{
    font-size: 25px;
    margin-right: 1rem;
    color: #555;
    transition: all .35s ease;
}
.icons i:hover{
    color: var(--bg-color);
    transform: scale(1.1) translateY(-5px);
}
.main-contact li{
    margin-bottom: 15px;
}
.main-contact li a{
    display: block;
    color: #555;
    font-size: var(--normal-font);
    font-weight: 600;
    transition: all .35s ease;
}
.main-contact li a:hover{
    color: var(--bg-color);
    transform: translateY(-8px);
}
.last-text{
    text-align: center;
    padding: 20px;
    background: var(--text-color);
}
.last-text p{
    color: #555;
    font-size: 14px;
    letter-spacing: 1px;
}

.top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}
.top i{
    font-size: 22px;
    color: var(--bg-color);
    padding: 14px;
    background: var(--main-color);
    border-radius: 2rem;
}
@media (max-width: 800px){
    header{
        padding: 7px 4%;
        transition: .2s;
    }
    header.sticky{
        padding: 14px 4%;
        transition: .2s;
    }
    section{
        padding: 80px 4%;
        transition: .1s;
    }
}
@media (max-width: 1000px){
    #menu-icon{
        display: block;
        cursor: pointer;
    }
    .header-icons{
        display: inline-flex;
    }
    .navlist{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 280px;
        height: 120vh;
        background: var(--bg-color);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 150px 30px;
        transition: all .45s ease;
    }
    .navlist a{
        display: block;
        margin: 1.2rem 0;
    }
    .navlist.open{
        left: 0;
    }
}
@media (max-width: 800px){
    .home-text h1{
        font-size: 60px; 
        font-weight: 700;
        line-height: 1;
        letter-spacing: .6rem;
        margin-bottom: 1rem;
        letter-spacing: .3rem;
    }
    .home-text span{
        font-size: 20px;
        font-weight: 650;
        letter-spacing: 0.12rem;
        font-weight: 550;
        line-height: 1.8;
    }
}
@media (min-width: 1000px) {
    #menu-icon {
        display: none;
    }
}
/*testimonial*/
.testimonial-area .container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}
.testimonial-area .container .sec-title{
    position: relative;
    margin-bottom: 50px;
    padding-bottom: 15px;
}
.testimonial-area .container .sec-title:after{
    content:' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 3px;
    background: var(--main-color);
}
.testimonial-area .container .sec-title h2{
    font-size: var(--h2-font);
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    font-family: var(--font-family);
}
.testimonial-area .container .sec-title p{
    font-size: 18px;
    line-height: 28px;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
}
.testimonial-area{
    background: #ffffff;
    position: relative;
    z-index: 2;
    padding: 50px 0;
}
.testimonial-area .owl-carousel .owl-nav{
    overflow: hidden;
    padding: 0 20px;
    margin: 0 -40px;
    padding-right: 40px;
}
.owl-carousel .owl-stage-outer{
    padding: 30px 50px;
    margin-left: -35px;
    width: calc(100% + 100px);
}
.single-testimonial{
    border: 7px solid var(--main-color);
    text-align: center;
    border-radius: 45px;
    position: realtive;
    z-index: 2;
}
.single-testimonial p{
    color: var(--text-color);
    font-size: 16px;
    line-height: 24px;
    padding: 50px;
    padding-bottom: 30px;
    position: relative;
    z-index: 3;
}

.client-info{
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; /* Center text */
    padding-bottom: 50px;
    width: 100%; /* Ensure full width for proper centering */
}
.client-info .client-details h6{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
}
.client-info .client-details span{
    display: inline-block;
    color: var(--text-color);
    font-size: 13px;
}
.client-info .client-pic{
    width: 100%; /* Use full width to center the image */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-bottom: 20px; /* Add space between the image and the text below */
}
.client-info .client-pic img{
    max-width: 90%; /* Limit maximum width to 90% */
    border-radius: 20%;
    /* Ensure the image is not stretched by setting both width and height to auto */
    width: auto;
    height: auto;
    margin: 0 auto;
}
.owl-dots{
    text-align: center;
    margin-top: 50px;
}
.owl-dots button{
    background: var(--main-color) !important;
    width: 15px;
    height: 15px;
    border-radius: 26px;
    margin: 0 5px;
    transition: .3s;
}
.owl-dots button.active{
    width: 30px;
}
.single-testimonial:before{
    content: '\f10d';
    position: absolute;
    font-family: FontAwesome;
    left: -35px;
    top: -35px;
    background: #ffffff;
    width: 126px;
    height: 100px;
    color: var(--main-color);
    font-size: 80px;
}
.single-testimonial:after{
    content: '\f10e';
    position: absolute;
    font-family: FontAwesome;
    right: -35px;
    bottom: -35px;
    background: #ffffff;
    width: 126px;
    height: 100px;
    color: var(--main-color);
    font-size: 80px;
}
@media (max-width: 800px) {
    .testimonial-area .container .sec-title h2 {
        font-size: 2rem;
    }
    .testimonial-area .container .sec-title p {
        font-size: 14px;
    }
    .single-testimonial {
        border: 5px solid var(--main-color);
        border-radius: 30px;
    }
    .single-testimonial p {
        padding: 20px;
        padding-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
    }
    .client-info .client-details h6 {
        font-size: 16px;
    }
    .client-info .client-details span {
        font-size: 12px;
    }
    .owl-carousel .owl-stage-outer {
        padding: 5px 20px; /* Adjusted padding values */
        margin-left: -15px; /* Adjusted margin value */
        width: calc(100% + 30px); /* Adjusted width value */
    }
    .owl-dots button {
        width: 10px;
        height: 10px;
    }
    .single-testimonial:before {
    content: '';
        
    }
    .single-testimonial:after {
        content: '';
    }
    .testimonial-area .container .sec-title {
        margin-bottom: 80px; /* Increased margin to create more space */
    }
    .testimonial-area {
        padding-top: 80px; /* Increased padding to create more space at the top */
    }
}
